
@import '../../common-styles/logo';

@include themify($themes) {
    .home-main {
        margin: 0;
        padding: 0;
        background-color: themed("website-background");
    }

    .header {
        background-color: themed("website-background");

        .header-container {
            margin: 0 auto;
            width: 100%; //$width-percent-of-screen;
            height: $header-height;
            background-color: themed("logo-green");
        }

        .header-donate-paypal {
            z-index: 2;
            position: absolute;
            margin-left: calc(#{$logo-left-margin} + (#{$logo-width} - 137px) / 2); // 137px: paypal button width
            margin-top: $logo-height + 10px;
        }

        .donate-paypal-hosted,
        .donate-paypal-image,
        .donate-paypal-img {
            border: none;
            background: transparent;
        }

        .header-menu {
            display: flex;
            justify-content: center;
            z-index: 1;
            position: absolute;
        }

        .gray {
            font-size: calc( #{$header-height} * #{$header-height-factor-gray} * 0.25 );
            width: calc(100% - 16px); //$width-percent-of-screen;
            margin-top: 0px;
            height: calc( #{$header-height} * #{$header-height-factor-gray} );
            justify-content: right;
            background-color: themed(textbox-background);
        }

        .header-gray-item {
            display: flex;
            margin: 0 3px;
            padding: 0 0;
            place-items: center;
            font-weight: lighter;
            color: themed("text-black");

            &:hover {
                text-decoration: underline;
            }

            &::before {
                content: "";
                position: relative;
                left: -3px;
                height: calc( #{$header-height} * #{$header-height-factor-gray} * 0.25 );
                width: 2px;
                background-color: themed("logo-green");
            }

            &:first-child::before {
                display: none;
            }

            &:last-child {
                padding-right: 30px;
            }
        }
    }

    @media (max-width: 1150px) {
        .header .mega-menu {
            margin-left: calc( #{$logo-klein-width} + #{$logo-left-margin} + 5px);
            max-width: 100%;
        }

        .header .header-donate-paypal {
            margin-left: calc(#{$logo-left-margin} + (#{$logo-klein-width} - 137px) / 2); // 137px: paypal button width
        }
    }
}
