@include themify($themes) {
    .swipers {
        background-color: themed("website-background");
        height: calc(var(--viewable-height) - #{$logo-height} + 50px);
    }
    // :root {
    //     --viewable-height: 400px;
    // }

    .mainswiper {
        max-width: 100%; //$width-percent-of-screen;
        margin: 0 auto;
        height: calc(var(--viewable-height) - #{$logo-height});

        .swiper-slide {
            display: inline-block;

            .img11 {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .headline11, .headline12, .button11 {
                position: absolute;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                padding: 10px;
            }
            
            .headline11 {
                // top: calc(var(--viewable-height) / 5);
                left: 50px;
                // font-family: "Pacifico", serif;
                // font-family: "Cedarville Cursive", serif;
                //font-family: "Playwrite ZA", serif;
                font-family: "Ingrid Darling", serif;
                // font-optical-sizing: auto;
                font-weight: 400;
                font-stretch: bolder;
                font-style: normal;
                //font-size: calc(var(--viewable-height) / 8);
                // font-size: 130px;// calc(var(--viewable-height) / 5);
                opacity: 70%;
                color: themed("text-white");
                text-shadow: 
                -1px -1px 0 black, /* Oben links */
                1px -1px 0 black, /* Oben rechts */
                -1px  1px 0 black, /* Unten links */
                1px  1px 0 black; /* Unten rechts */
                line-height: 1;
            }

            .headline12 {
                //top: calc(var(--viewable-height) / 5 +  var(--viewable-height) / 5);
                left: 50px;
                //font-family: "Pacifico", serif;
                // font-family: "Cedarville Cursive", serif;
                // font-family: "Playwrite ZA", serif;
                font-family: "Ingrid Darling", serif;
                // font-optical-sizing: auto;
                font-weight: 400;
                // font-stretch: bolder;
                font-style: normal;
                //font-size: calc(var(--viewable-height) / 8);
                //font-size: 130px;// calc(var(--viewable-height) / 5);
                opacity: 70%;
                color: themed("text-white");
                text-shadow: 
                -1px -1px 0 black, /* Oben links */
                1px -1px 0 black, /* Oben rechts */
                -1px  1px 0 black, /* Unten links */
                1px  1px 0 black; /* Unten rechts */
                line-height: 1;
            }

            .button11 {
                bottom: 20px;
                right: 20px;
                background: themed("logo-green");
                border: 1px solid themed("text-main-menu");
                border-radius: 50%;
                color: themed("text-main-menu");
                cursor: pointer;
                font-size: 1em;
                height: 120px;
                width: 120px;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-transform: uppercase;
                transition: transform 0.15s ease, box-shadow 0.15s ease;
            }

            .button11:hover {
                transform: scale(1.1);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }
            
            .button11:active {
                transform: scale(0.95);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            }
            
            .button11:focus {
                outline: none;
            }
        }

    }
    
    // @media (min-width: 1260px) and (max-width: 1460px) {
    //     .mainswiper .swiper-slide .headline11 {
    //         top: calc(var(--viewable-height) / 4 - 30px);
    //         font-size: calc(var(--viewable-height) / 6);
    //     }

    //     .mainswiper .swiper-slide .headline12 {
    //         top: calc(var(--viewable-height) / 4 +  var(--viewable-height) / 5 - 30px);
    //         font-size: calc(var(--viewable-height) / 6);
    //     }
    // }

    // @media (min-width: 1050px) and (max-width: 1260px) {
    //     .mainswiper .swiper-slide .headline11 {
    //         top: calc(var(--viewable-height) / 3 - 30px);
    //         font-size: 100px;// calc(var(--viewable-height) / 8);
    //     }

    //     .mainswiper .swiper-slide .headline12 {
    //         top: calc(var(--viewable-height) / 3 +  var(--viewable-height) / 7 - 30px);
    //         font-size: 100px;// calc(var(--viewable-height) / 8);
    //     }
    // }

    // @media (min-width: 840px) and (max-width: 1050px) {
    //     .mainswiper .swiper-slide .headline11 {
    //         top: calc(var(--viewable-height) / 3);
    //         font-size: calc(var(--viewable-height) / 8);
    //     }

    //     .mainswiper .swiper-slide .headline12 {
    //         top: calc(var(--viewable-height) / 3 +  var(--viewable-height) / 7);
    //         font-size: calc(var(--viewable-height) / 8);
    //     }
    // }

    @media (min-width: 580px) and (max-width: 1050px) {
    //     .mainswiper .swiper-slide .headline11 {
    //         top: calc(var(--viewable-height) / 2.6);
    //         font-size: 70px;// calc(var(--viewable-height) / 13);
    //         opacity: 90%;
    //     }

    //     .mainswiper .swiper-slide .headline12 {
    //         top: calc(var(--viewable-height) / 2.6 +  var(--viewable-height) / 10);
    //         font-size: 70px;// calc(var(--viewable-height) / 13);
    //         opacity: 90%;
    //     }

        .mainswiper .swiper-slide .button11 {
            bottom: 10px;
            right: 10px;
            height: 90px;
            width: 90px;
        }
    }
    
    @media (max-width: 580px) {
        // .mainswiper .swiper-slide .headline11 {
        //     top: calc(var(--viewable-height) / 2.3);
        //     font-size: 50px;// calc(var(--viewable-height) / 15);
        //     opacity: 90%;
        // }

        // .mainswiper .swiper-slide .headline12 {
        //     top: calc(var(--viewable-height) / 2.3 +  var(--viewable-height) / 15);
        //     font-size: 50px;// calc(var(--viewable-height) / 18);
        //     opacity: 90%;
        // }

        .mainswiper .swiper-slide .button11 {
            bottom: 10px;
            right: 10px;
            height: 90px;
            width: 90px;
        }
    }
}