@import '../common-styles/generalList';

@include themify($themes) {
    .home-main {
        padding-bottom: calc((100% - #{$width-percent-of-screen}) / 2);
        background-color: themed(webpage-background);
        font-size: $font-size;
        font-family: $font-family;
    }

    .home-introduction, .home-travel {
        text-align: center;
        background-color: themed("textbox-background");
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    
    .home-travel {
        text-align: center;
        background-color: themed("logo-red-20");
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    @media (max-width: 840px) {
        .home-introduction, .home-travel {
            h1 {
                font-size: 22px; /* Schriftgröße ändern */
            }
            h3 {
                font-size: 17px; /* Schriftgröße ändern */
            }
        }
    }
}