@import '../common-styles/logo';
@import '../common-styles/pictures';
@import '../common-styles/generalList';

@include themify($themes) {
    .list {
        background-color: themed("website-background");
        padding-bottom: calc((100% - #{$width-percent-of-screen}) / 2);
        width: 100%;
        position: relative;
        font-size: $font-size;
        font-family: $font-family;

        .list-pagedescription {
            font-size: 18px;
            text-align: left;
            padding: 17px;
            margin-bottom: 20px;
        }
    }
}