@import '../common-styles/logo';
@import '../common-styles/pictures';
@import '../common-styles/pagetitles';
@import '../common-styles/tables';
@import '../common-styles/markdown';
@import '../common-styles/paypal';
@import '../common-styles/articles';

@include themify($themes) {
  .single {
    .single-date-author {
      padding: 0 10px 10px 0px;
      text-align: end;
    }

    // Background gradient
    .single-contents {
      background: linear-gradient(to bottom, themed(logo-green), themed(website-background));
    }

    // Content
    .single-content {
      max-width: var(--contents-width);
      margin-left: var(--contents-margin);
      background-color: themed(textbox-background);
      padding: 10px 10px;
    }

    // General settings
    background-color: themed("website-background");
    font-family: $font-family;
    font-size: $font-size;

    h2 {
      padding-top: 30px;
    }

    h3 {
      padding-top: 20px;
    }

    h4 {
      padding-top: 20px;
    }

    p {
      // text-align: justify;
      padding-top: 10px;
    }
  }

  // pdfs
  iframe {
    height: calc(var(--viewable-height) - 100px);
    border: 1px solid themed(logo-green);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}