@include themify($themes) {
    body {
        background-color: themed(webpage-background);
        background-color: red;
        font-family: $font-family;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 0;
        margin: 0;
        //font-family: $font-family;
    }

    a  {
        text-decoration: none;
    }
}