// ********** Sizes
// Global
$width-percent-of-screen: 90%;
$language: "DE";

// Header
$header-height: 100px;
$header-height-factor-gray: 0.6;
$header-height-factor-menu: 0.4;
$logo-width: 350px;
$logo-klein-width: 130px;
$logo-height: 120px;
$logo-left-margin: 20px;
$picture-home-pct-height: 100;
$picture-pct-height: 70;

// ********** Colors
// Global
$font-family: 'Calibri', sans-serif;
$font-size: 18px;
$themes: (
  light: (
    text-white: white,
    text-black: black,
    text-main-menu: white,
    background-logo-white: white,
    table-line: grey,
    logo-green: rgb(0, 122, 94),
    logo-green-60: rgba(0, 122, 94, 0.6),
    logo-yellow: rgb(252, 209, 22),
    logo-yellow-60: rgba(252, 209, 22, 0.6),
    logo-yellow-30: rgba(252, 209, 22, 0.3),
    logo-red: rgb(206, 17, 38),
    logo-red-60: rgba(206, 17, 38, 0.6),
    logo-red-20: rgba(206, 17, 38, 0.2),
    website-background: white,
    textbox-background: rgb(227, 226, 212),
    footer-background: rgba(8,129,98, 1),
  ),
  dark: (
    text-white: rgb(188, 188, 188),
    text-black: rgb(188, 188, 188),
    text-main-menu: rgb(188, 188, 188),
    background-logo-white: rgb(185, 182, 149),
    table-line: rgb(188, 188, 188),
    logo-green: rgb(5, 65, 50),
    logo-green-60: rgba(5, 65, 50, 0.6),
    logo-yellow: rgb(115, 95, 7),
    logo-yellow-60: rgba(115, 95, 7, 0.6),
    logo-yellow-30: rgba(115, 95, 7, 0.3),
    logo-red: rgb(115, 11, 23),
    logo-red-60: rgba(115, 11, 23, 0.6),
    logo-red-20: rgba(115, 11, 23, 0.2),
    website-background: rgb(121, 120, 114),
    textbox-background: rgb(121, 120, 114),
    footer-background: rgb(5, 65, 50),
  ),
);

