// ********** Sizes
// Global
$width-percent-of-screen: 95%;
$language: "DE";

// Header
$header-height: 100px;
$header-height-factor-gray: 0.6;
$header-height-factor-menu: 0.4;
$logo-width: 350px;
$logo-klein-width: 130px;
$logo-height: 120px;
$logo-left-margin: 20px;
$picture-home-pct-height: 100;
$picture-pct-height: 53;

// ********** Colors
// Global
$font-family: 'Calibri', sans-serif;
$font-size: 18px;
$themes: (
  light: (
    text-white: white,
    text-black: black,
    text-main-menu: white,
    background-logo-white: white,
    table-line: grey,
    logo-green: rgb(0, 122, 94),
    logo-green-60: rgba(0, 122, 94, 0.6),
    logo-yellow: rgb(252, 209, 22),
    logo-yellow-60: rgba(252, 209, 22, 0.6),
    logo-yellow-30: rgba(252, 209, 22, 0.3),
    logo-red: rgb(206, 17, 38),
    logo-red-60: rgba(206, 17, 38, 0.6),
    website-background: rgb(227, 226, 212),
    footer-background: rgba(8,129,98, 1),
  ),
  dark: (
    text-white: grey,
    text-black: lightgrey,
    text-main-menu: grey,
    background-logo-white: rgb(185, 182, 149),
    table-line: lightgrey,
    logo-green: rgb(3, 44, 34),
    logo-green-60: rgba(3, 44, 34, 0.6),
    logo-yellow: rgb(83, 69, 4),
    logo-yellow-60: rgba(83, 69, 4, 0.6),
    logo-yellow-30: rgba(83, 69, 4, 0.3),
    logo-red: rgb(115, 11, 23),
    logo-red-60: rgba(115, 11, 23, 0.6),
    website-background: rgb(87, 86, 81),
    footer-background: rgb(3, 44, 34),
  ),
);

