<div class="mega-menu-container">
<nav class="mega-menu">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <ul class="hoverCheck">
        <li class="has-submenu">
            <a href="#" class="menu-title">{{ T "campus" }}</a>
        </li>
        <li class="has-submenu">
            <a href="#" class="menu-title">{{ T "about" }}</a>
            <div class="submenu-container-colLeft">
                <div class="submenu">
                    <h3>
                        {{ T "aboutSubHead" }}
                    </h3>
                    <div class="colums">
                        <div class="submenu-column">
                            <h4>{{ T "aboutSubCol1" }}</h4>
                            <img src="/img/logo-klein.png" alt="Haus der Sonne">
                            <ul>
                                <li>
                                    <a href="#">{{ T "AGoal" }}</a>
                                </li>
                                <li>
                                    <a href="derVerein/Organisation">{{ T "AOrganization" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "ATransparency" }}</a>
                                </li>
                                <li>
                                    <a href="Finanzen">{{ T "AFinance" }}</a>
                                </li>
                                <li>
                                    <a href="wirUeberUns/dieSatzung">{{ T "AStatute" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "APress" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "AChronicle" }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="has-submenu">
            <a href="#" class="menu-title">{{ T "whatWeDo" }}</a>
            <div class="submenu-container">
                <div class="submenu">
                    <h3>
                        {{ T "whatWeDoSubHead" }}
                    </h3>
                    <div class="colums">
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol1" }}</h4>
                            <img src="/img/weizen.png" alt="Versorgung">
                            <ul>
                                <li>
                                    <a href="Versorgung/EineWarmeMahlzeit">{{ T "wwDOneMeal" }}</a>
                                </li>
                                <li>
                                    <a href="Versorgung/BrunnenbauAktuell">{{ T "wwDCleanWater" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "wwDMedicine" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "wwDMedicalStore" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol2" }}</h4>
                            <img src="/img/educationMan.png" alt="Bildung">
                            <ul>
                                <li>
                                    <a href="#">{{ T "wwDTutoring" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "wwDEnlightenment" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol3" }}</h4>
                            <img src="/img/help.png" alt="Hile zur Selbsthilfe">
                            <ul>
                                <li>
                                    <a href="#">{{ T "wwDVegetableGarden" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "wwDAnimals" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "wwDEnvironment" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "wwDOrphanages" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol4" }}</h4>
                            <img src="/img/galerie.png" alt="Hile zur Selbsthilfe">
                            <ul>
                                <li>
                                    <a href="#">{{ T "wwDFotos" }}</a>
                                </li>
                                <li>
                                    <a href="#">{{ T "wwDChronicle" }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li  class="has-submenu">
            <a href="#" class="menu-title">{{ T "toHelp" }}</a>
            <div class="submenu-container-colRight">
                <div class="submenu">
                    <h3>
                        {{ T "toHelpSubHead" }}
                    </h3>
                    <div class="colums">
                        <div class="submenu-column">
                            <h4>{{ T "toHelpSubCol1" }}</h4>
                            <img src="/img/Spenden.png" alt="Spenden">
                            <ul>
                                <li>
                                    <a href="Helfen/PateWerden">{{ T "tHPatenschaften" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/PatenschaftVerwalten">{{ T "tHPatenschaftenService" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/Spenden">{{ T "thDonate" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/GezieltSpenden">{{ T "thDonateProject" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "toHelpSubCol2" }}</h4>
                            <img src="/img/Mitglieder.png" alt="Mitglieder">
                            <ul>
                                <li>
                                    <a href="Helfen/MitgliedWerden">{{ T "tHGetMitglied" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/MitgliedschaftVerwalten">{{ T "tHMitgliedService" }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
</div>
