<div class="mega-menu-container">
<nav class="mega-menu">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <ul class="hoverCheck">
        <li class="has-submenu">
            <a href="#" class="menu-title">{{ T "campus" }}</a>
        </li>
        <li class="has-submenu">
            <a href="#" class="menu-title">{{ T "about" }}</a>
            <div class="submenu-container-colLeft">
                <div class="submenu">
                    <h3>
                        {{ T "aboutSubHead" }}
                    </h3>
                    <div class="colums">
                        <div class="submenu-column">
                            <h4>{{ T "aboutSubCol1" }}</h4>
                            <img src="/img/logo-klein.png" alt="Haus der Sonne">
                            <ul>
                                <li>
                                    <a href="WirUeberUns/ziel">{{ T "AGoal" }}</a>
                                </li>
                                <li>
                                    <a href="WirUeberUns/derVorstand">{{ T "AOrganization" }}</a>
                                </li>
                                <!-- <li>
                                    <a href="#" style="color: lightgray;">{{ T "ATransparency" }}</a>
                                </li> -->
                                <li>
                                    <a href="Finanzen">{{ T "AFinance" }}</a>
                                </li>
                                <li>
                                    <a href="WirUeberUns/dieSatzung">{{ T "AStatute" }}</a>
                                </li>
                                <li>
                                    <a href="WirUeberUns/presse">{{ T "APress" }}</a>
                                </li>
                                <li>
                                    <a href="WirUeberUns/veranstaltungen">{{ T "AEvents" }}</a>
                                </li>
                                <!-- <li>
                                    <a href="#" style="color: lightgray;">{{ T "AChronicle" }}</a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "aboutSubCol2" }}</h4>
                            <img src="/img/cooperations.png" alt="Kooperationen">
                            <ul>
                                <li>
                                    <a href="GesamtschuleKempen">{{ T "AGesamtSchKempen" }}</a>
                                </li>
                                <li>
                                    <a href="HannahArendtGymnasiumKrefeld">{{ T "AHAGymnKrefeld" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "AGesamtSchMühlheim" }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="has-submenu">
            <a href="#" class="menu-title">{{ T "whatWeDo" }}</a>
            <div class="submenu-container">
                <div class="submenu">
                    <h3>
                        {{ T "whatWeDoSubHead" }}
                    </h3>
                    <div class="colums">
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol1" }}</h4>
                            <img src="/img/weizen.png" alt="Versorgung">
                            <ul>
                                <li>
                                    <a href="Versorgung/eineWarmeMahlzeit">{{ T "wwDOneMeal" }}</a>
                                </li>
                                <li>
                                    <a href="Versorgung/brunnenbau_6">{{ T "wwDCleanWater" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "wwDMedicine" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol2" }}</h4>
                            <img src="/img/educationMan.png" alt="Bildung">
                            <ul>
                                <li>
                                    <a href="Bildung/nachhilfe">{{ T "wwDTutoring" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "wwDTraining" }}</a>
                                </li>
                                <li>
                                    <a href="Bildung/aufklaerung">{{ T "wwDEnlightenment" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol3" }}</h4>
                            <img src="/img/help.png" alt="Hile zur Selbsthilfe">
                            <ul>
                                <li>
                                    <a href="HilfeZurSelbsthilfe/gemuesegarten">{{ T "wwDVegetableGarden" }}</a>
                                </li>
                                <li>
                                    <a href="HilfeZurSelbsthilfe/nutztiere">{{ T "wwDAnimals" }}</a>
                                </li>
                                <li>
                                    <a href="HilfeZurSelbsthilfe/umwelt">{{ T "wwDEnvironment" }}</a>
                                </li>
                                <li>
                                    <a href="HilfeZurSelbsthilfe/waisenhaeuser">{{ T "wwDOrphanages" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "whatWeDoSubCol4" }}</h4>
                            <img src="/img/galerie.png" alt="Hile zur Selbsthilfe">
                            <ul>
                                <li>
                                    <a href="Galerie/fotos">{{ T "wwDFotos" }}</a>
                                </li>
                                <li>
                                    <a href="Galerie/videos">{{ T "wwDVideos" }}</a>
                                </li>
                                <li>
                                    <a href="Reisetagebuch">{{ T "wwDTravel" }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li class="has-submenu">
            <a href="#" class="menu-title">{{ T "cooperations" }}</a>
            <div class="submenu-container-colRight">
                <div class="submenu">
                    <h3>
                        {{ T "CooperationSubHead" }}
                    </h3>
                    <div class="colums">
                        <div class="submenu-column">
                            <h4>{{ T "CoopSubCol1" }}</h4>
                            <img class="img-wide" src="/img/GSK.png" alt="Gesamtschule Kempen">
                            <ul>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopGSKEvents" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopGSKLessons" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopGSKGalerie" }}</a>
                                </li>
                                <li>
                                    <a href="https://www.gesamtschule-kempen.de/">{{ T "CoopGSKLink" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "CoopSubCol2" }}</h4>
                            <img class="img-wide" src="/img/HAG.png" alt="Hannah-Arendt-Gymnasium">
                            <ul>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopHAGEvents" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopHAGLessons" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopHAGGalerie" }}</a>
                                </li>
                                <li>
                                    <a href="https://hag-krefeld.de/">{{ T "CoopHAGLink" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "CoopSubCol3" }}</h4>
                            <img class="img-wide" src="/img/GSM.png" alt="Gesamtschule Mühlheim">
                            <ul>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopGSMEvents" }}</a>
                                </li>
                                <li>
                                    <a href="#" style="color: lightgray;">{{ T "CoopGSMGalerie" }}</a>
                                </li>
                                <li>
                                    <a href="https://www.gustav-mh.de/">{{ T "CoopGSMLink" }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li> -->
        <li  class="has-submenu">
            <a href="#" class="menu-title">{{ T "toHelp" }}</a>
            <div class="submenu-container-colRight">
                <div class="submenu">
                    <h3>
                        {{ T "toHelpSubHead" }}
                    </h3>
                    <div class="colums">
                        <div class="submenu-column">
                            <h4>{{ T "toHelpSubCol1" }}</h4>
                            <img src="/img/spenden.png" alt="Spenden">
                            <ul>
                                <li>
                                    <a href="Helfen/pateWerden">{{ T "tHPatenschaften" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/patenschaftVerwalten">{{ T "tHPatenschaftenService" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/spenden">{{ T "thDonate" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/gezieltSpenden">{{ T "thDonateProject" }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="submenu-column">
                            <h4>{{ T "toHelpSubCol2" }}</h4>
                            <img src="/img/mitglieder.png" alt="Mitglieder">
                            <ul>
                                <li>
                                    <a href="Helfen/mitgliedWerden">{{ T "tHGetMitglied" }}</a>
                                </li>
                                <li>
                                    <a href="Helfen/mitgliedschaftVerwalten">{{ T "tHMitgliedService" }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
</div>
