@include themify($themes) {

    // *******************************************************
    // ** Buttons
    // *******************************************************
    button {
        border: none;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        padding: 8px;
        background-color: themed(logo-green);
        border-radius: 3px;
        border: 1px solid themed(logo-green-60);
        color: themed(text-white);
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.2s ease-in-out;
        transition: transition 0.15s ease-in-out;
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }


    // *******************************************************
    // ** Centered pictures with caption - sizeable
    // *******************************************************
    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked+label img {
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 0px;
        width: calc(100vw);
        height: calc(100vh);
        object-fit: contain;
        z-index: 1000;
        background-color: themed(website-background);
        transition: all 0.15s ease, z-index 0.15s;
        border: none;
    }
    
    .image-ziel {
        position: relative;
        display: inline-block;
        width: 100%;

        img {
            width: 100%;
            border-color: themed(table-line);
            border-width: 2px;
            //border-style: solid;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
        }
    }
    
    .hover-area {
        position: absolute;
        cursor: pointer;
        // background: rgba(255, 0, 0, 0.3);
    }

    .explanation-box {
        position: absolute;
        background: themed(logo-green);
        color: themed(text-white);
        padding: 10px;
        border-radius: 5px;
        white-space: nowrap;
        font-size: 14px;
        z-index: 1001;
        width: 180px;

        img {
            width: 60px;
            height: auto;
            border: none;
            box-shadow: none;
        }

        p {
            white-space: normal;
        }

        .h3-explanationbox {
            padding-top: 0px;
            //color: themed(logo-red);
            font-weight: bold;
            font-size: medium;
        }

        .p-explanationbox {
            //padding-top: 0px;
            color: themed(logo-yellow);
            font-weight: bold;
            font-size: medium;
        }
    }

    .red-text {
        color: themed(logo-yellow);
        background-color: themed(logo-green);
        // font-weight: bold;
    }

    .tabelle-ziel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px; /* Abstand zwischen Spalten */
        width: 90%;
        margin-left: 5%;
    
        .tabelle-ziel-spalte {
            flex: 1;
            text-align: center;
            border-right: 2px solid #ccc; /* Vertikale Trennung */
            padding: 10px;
        }
        
        .tabelle-ziel-spalte:last-child {
            border-right: none; /* Keine Linie am Ende */
        }
        
        img {
            width: auto;
            height: 100px;
        }

        li {
            text-align: left;
        }

        .h3-ziel {
            padding-top: 0px;
            color: themed(logo-green);
        }
    }

    @media (max-width: 680px) {
        .tabelle-ziel {
            flex-direction: column;
            align-items: center;

            .tabelle-ziel-spalte {
                border-right: none;
                border-bottom: 2px solid #ccc;
            }
        }
    }

    .img-centered {
        width: var(--image-width);
        margin-top: 10px;
        border-color: themed(table-line);
        border-width: 2px;
        border-style: solid;
        margin-bottom: 0px;
        margin-left: var(--image-margin);
        transition: transform 0.15s ease, z-index 0.15s;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .img-centered-noborder {
        width: var(--image-width);
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: var(--image-margin);
        transition: transform 0.15s ease, z-index 0.15s;
        cursor: pointer;
    }

    .img-centered-half {
        width: calc(var(--image-width) / 2);
        margin-top: 10px;
        border-color: themed(table-line);
        border-width: 2px;
        border-style: solid;
        margin-bottom: 0px;
        margin-left: calc(var(--image-margin) + var(--image-width) / 4);
        transition: transform 0.15s ease, z-index 0.15s;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .img-centered-quarter {
        width: calc(var(--image-width) / 4);
        margin-top: 10px;
        // border-color: themed(table-line);
        // border-width: 2px;
        // border-style: solid;
        margin-bottom: 0px;
        margin-left: calc(var(--image-margin) + 3 * var(--image-width) / 8);
        // transition: transform 0.15s ease, z-index 0.15s;
        // cursor: pointer;
        // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .img-caption {
        display: block;
        width: var(--image-width);
        border-color: themed("logo-yellow-60");
        border-width: 2px;
        border-style: solid;
        background-color: themed("logo-yellow-60");
        padding: 5px 0px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        //margin-left: var(--image-margin);
        margin: 0 auto;
    }

    .img-caption-half {
        display: block;
        width: calc(var(--image-width) / 2);
        border-color: themed("logo-yellow-60");
        border-width: 2px;
        border-style: solid;
        background-color: themed("logo-yellow-60");
        padding: 5px 0px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-left: calc(var(--image-margin) + var(--image-width) / 4);
    }


    // *******************************************************
    // ** Flex pictures
    // *******************************************************
    .flexpictures {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 12px;
        justify-content: center;
        text-align: center;
        align-items: center;

        label {
            display: block;
            justify-content: center;
            /* Horizontales Zentrieren */
            text-align: center;
            align-items: center;
        }
    }

    .img-flexpictures {
        height: 50vh;
        width: auto;
        cursor: pointer;
    }

    .img-flexpictures-width {
        height: auto;
        width: 80%;
        cursor: pointer;
    }

    // *******************************************************
    // ** Smallest picture in textflow
    // *******************************************************
    .img-smallest-in-text {
        float: left;
        margin: 10px 10px 10px 0;
        height: 120px;
        width: auto;
    }


    // *******************************************************
    // ** Combobox showing the summary and the details when clicking
    // *******************************************************
    .combobox-summary {
        background-color: themed(website-background);
        padding: 7px;
        border: 1px solid themed(table-line);
        cursor: pointer;
        margin-top: 2px;
        margin-bottom: 2px;
        transition: transform 0.15s ease, box-shadow 0.15s ease;

        &:hover {
            transform: scale(1.002);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    }

    .combobox-details {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid themed(table-line);
    }


    // *******************************************************
    // ** Container: Picture | Description | Button
    // *******************************************************
    .profile-container {
        background-color: themed(website-background);
        padding: 7px;
        border: 5px solid themed(logo-red-60);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 2px;
        margin-bottom: 2px;

        img {
            padding: 2px;
            width: 200px;
            height: auto;
        }

        div {
            padding: 10px;

            p {
                padding: 0px;
            }
        }

        button {
            margin-left: auto;
        }

        input {
            margin-left: auto;
        }
    }

    .profile-container-supplied {
        border: 2px solid themed(logo-green-60);
    }

    .profile-container-listed {
        border: 2px solid themed(logo-yellow-60);
    }

    .profile-container-selected {
        background-color: themed(logo-green-60);
    }

    // *******************************************************
    // ** Input fields
    // *******************************************************
    input,
    select {
        background-color: themed(website-background);
        text-align: left;
        border-radius: 3px;
        padding: 5px;
        border: 1px solid themed(table-line);
        font-size: $font-size;
        width: 90%;
        color: themed(logo-green);
    }

    select {
        width: calc(90% + 10px);
    }

    // *******************************************************
    // ** Message Box
    // *******************************************************
    #message-box, #message-box-fehler{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f8f9fa;
        border: 2px solid #343a40;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    // *******************************************************
    // ** Button Gezielt Spenden
    // *******************************************************
    .div-gezielt-spenden {
        position: relative;
    }
    
    .button-gezielt-spenden {
        position: absolute;
        top: -80px;
        right: 10px;
        // bottom: 20px;
        // right: 20px;
        background: themed("logo-red");
        border: 1px solid themed("text-main-menu");
        border-radius: 50%;
        color: themed("text-main-menu");
        cursor: pointer;
        font-size: 1em;
        height: 120px;
        width: 120px;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        transition: transform 0.15s ease, box-shadow 0.15s ease;
    }

    .button-gezielt-spenden:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .button-gezielt-spenden:active {
        transform: scale(0.95);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .button-gezielt-spenden:focus {
        outline: none;
    }

    
    // *******************************************************
    // ** Button Link
    // *******************************************************
    .container-button-link {
        text-align: center;
    }
    .button-link {
        display: inline-block;
        padding: 5px 24px;
        background-color: themed(logo-yellow-60);
        color: blue; 
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    
    .button-link:hover {
        background-color: themed(logo-yellow);
    }

    .p-width {
        width: calc(var(--image-width));
        margin-left: calc(var(--image-margin));
        text-align: justify;
    }
}