{{ define "main" }}
<div id="js-theme-home" class="light-theme">
  <div class="home-main">
    {{ partial "home/mainswiper" }}
    {{ .Content }}
    <br>
    <h1 style="text-align: center;">Aktuelle Berichte</h1>
    <br>
    <!-- Swiper Container -->
    <div class="swiper blog-swiper">
      <div class="swiper-wrapper">
        {{ range .Site.Pages }}
          {{ if lt (sub now.YearDay .Lastmod.YearDay) 30 }}  
            {{ if strings.HasSuffix .File.LogicalName ".md" }}
              <div class="swiper-slide">
                <div class="list-container list-container-swiper" onclick="location.href='{{ .RelPermalink }}';">
                  <img src="{{ .Params.image }}" alt="Home Picture" class="list-picture">
                  <div class="list-textbox">
                    <div class="list-shifted">
                      <div class="list-title">
                        {{.Title}}
                      </div>
                      <div class="list-description">
                        {{ .Params.description }}
                      </div>
                    </div>
                    <div class="list-date">
                      {{ dateFormat "Monday, Jan 2, 2006" .Date }}
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
      
      <!-- Navigation Pfeile -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;">Helfen</h1>
    <br>
    {{ range .Pages }}
        <!-- Helfen -->
        {{ if eq .Title "Helfen" }}
          <div class="list-container" onclick="location.href='{{ .RelPermalink }}';">
            <img src="{{ .Params.image }}" alt="Home Picture" class="list-picture">
            <div class="list-textbox">
              <div class="list-shifted">
                <div class="list-title">
                  {{.Title}}
                </div>
                <div class="list-description">
                  {{ .Params.description }}
                </div>
              </div>
              <div class="list-date">
                {{ dateFormat "Monday, Jan 2, 2006" .Date }}
              </div>
            </div>
          </div>
        {{ end }}
    {{ end }}

    <h1 style="text-align: center;">Was wir tun</h1>
    <br>
    {{ range .Pages }}
        <!-- Was wir tun -->
        {{ if or (eq .Title "Versorgung")
                 (eq .Title "Bildung") 
                 (eq .Title "Hilfe zur Selbsthilfe") 
                 (eq .Title "Reisetagebuch")
                 (eq .Title "Galerie") }}
          <div class="list-container" onclick="location.href='{{ .RelPermalink }}';">
            <img src="{{ .Params.image }}" alt="Home Picture" class="list-picture">
            <div class="list-textbox">
              <div class="list-shifted">
                <div class="list-title">
                  {{.Title}}
                </div>
                <div class="list-description">
                  {{ .Params.description }}
                </div>
              </div>
              <div class="list-date">
                {{ dateFormat "Monday, Jan 2, 2006" .Date }}
              </div>
            </div>
          </div>
        {{ end }}
    {{ end }}

    <h1 style="text-align: center;">Wir über uns</h1>
    <br>
    {{ range .Pages }}
        <!-- Wir über uns -->
        {{ if or (eq .Title "Finanzen") 
                 (eq .Title "Gesamtschule Kempen") 
                 (eq .Title "Hannah-Arendt-Gymnasium Krefeld")
                 (eq .Title "Wir über uns") }}
          <div class="list-container" onclick="location.href='{{ .RelPermalink }}';">
            <img src="{{ .Params.image }}" alt="Home Picture" class="list-picture">
            <div class="list-textbox">
              <div class="list-shifted">
                <div class="list-title">
                  {{.Title}}
                </div>
                <div class="list-description">
                  {{ .Params.description }}
                </div>
              </div>
              <div class="list-date">
                {{ dateFormat "Monday, Jan 2, 2006" .Date }}
              </div>
            </div>
          </div>
        {{ end }}
    {{ end }}
  </div>

  <!-- Einbindung von Swiper.js -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  {{ end }}

  {{ define "scripts" }}
  <script>
    // Darkmode
    var jsTheme = document.getElementById("js-theme-home");
    if (localStorage.getItem("darkMode") == "false") {
        jsTheme.className = "light-theme";
    } else {
        jsTheme.className = "dark-theme";
    }

    // Swiper
    const swiper = new Swiper('.swiper', {
      navigation: {
          nextEl: '.swiper .swiper-button-next',
          prevEl: '.swiper .swiper-button-prev',
      },
      loop: true,
      pagination: {
        //el: '.swiper-pagination',
        clickable: true,
        wrapperClass: 'swiper-wrapper',
      },
    });
    var blogSwiper = new Swiper('.blog-swiper', {
      navigation: {
          nextEl: '.blog-swiper .swiper-button-next',
          prevEl: '.blog-swiper .swiper-button-prev',
      },
      loop: true,
      wrapperClass: 'swiper-wrapper',
      slidesPerView: 1
    });
  </script>
  {{ end }}