
{{ define "main" }}
  <div id = "js-list" class="dark-theme">
    <div class="list">
      <a href="/" class="list-logo">
        <img class="logo" src="/img/logo.png" alt="Haus der Sonne">
        <img class="logo-klein" src="/img/logo-klein.png" alt="Haus der Sonne">
      </a>
      <div class="list-div-main">
        <img src="{{ .Params.image }}" alt="List Picture" class="list-picture-main">
      </div>
      <div>
        <h1 class="list-pagetitle">{{ .Title }}</h1>
        <p class="list-pagedescription">{{ .Params.Description }}</p>
        
        {{ .Content }}
        {{ range .Pages }}
        <div class="list-container" onclick="location.href='{{ .RelPermalink }}';">
          <!-- <div class="home-picture"> -->
            <img src="{{ .Params.image }}" alt="List Picture" class="list-picture">
          <!-- </div> -->
            <div class="list-textbox">
              <div class="list-shifted">
                <div class="list-title">
                  {{.Title}}
                </div>
                <div class="list-description">
                  {{ .Params.description }}
                </div>
              </div>
              <div class="list-date">
                {{ dateFormat "Monday, Jan 2, 2006" .Date }}
              </div>
            </div>
        </div>
          <!-- <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2> -->
          <!-- {{ .Summary }} -->
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

{{ define "scripts" }}
  <script>
    // Dark mode    
    var jsList = document.getElementById("js-list");
    if (localStorage.getItem("darkMode") == "true") {
      jsList.className = "light-theme";
    } else {
      jsList.className = "dark-theme";
    }

    // Viewable area
    function updateViewableArea2() {
      const height = window.innerHeight;
      document.documentElement.style.setProperty('--viewable-height', `${height}px`);
    }

    window.addEventListener('resize', updateViewableArea2);
    updateViewableArea2();
  </script>
{{ end }}

