<section class="about">
    <div class="about-container">
        <h2 class="about-title">Hello,</h2>
        <p class="about-paragraph">
            Kamerun mit der Hauptstadt Yaoundé und knapp 25 Millionen Einwohnern, wird von Fachleuten als „Afrika im Kleinen“ genannt. Es beherbergt alle wesentlichen Klimazonen und die faszinierenden Vegetationen des riesigen Kontinents. Das Klima ist tropisch mit seinen hohen Temperaturen, die in den Höhenlagen gemildert sind. Flora und Fauna sind üppig. Es soll, um ein Beispiel zu nennen, in Kamerun noch 15 000 Schmetterlingsarten geben.     
        </p>
        <div class="about-links">
            <a class="about-link" href="#">LinkedIn -></a>
            <a class="about-link" href="#">GitHub -></a>
            <a class="about-link" href="#">E-mail -></a>
        </div>
    </div>
</section>