<div id = "js-theme-swipers" class="light-theme">
    <section class="swipers">
        <div class="mainswiper swiper">
            <div id="js-img11" class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/main-warmeMahlzeit.png" alt="main picture - warme Mahlzeit" class="img11">
                    <h3 id="js-headline11" class="headline11">{{ T "oneEuroADay" }}</h3>
                    <h3 id="js-headline12" class="headline12">{{ T "oneMeal" }}</h3>
                    <button class="button11" onclick="window.location.href='./Helfen/pateWerden';">{{ T "getPate" }}</button>
                </div>
                <div class="swiper-slide">
                    <img src="/img/main_campus.jpg" alt="main picture - Campus" class="img21">
                    <h3 id="js-headline21" class="headline21">Unser Großprojekt - Der Campus.</h3>
                    <button class="button21">{{ T "gezieltSpenden" }}</button>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <script>
        // Dark mode    
        var jsSwipers = document.getElementById("js-theme-swipers");
        if (localStorage.getItem("darkMode") == "false") {
            jsSwipers.className = "light-theme";
        } else {
            jsSwipers.className = "dark-theme";
        }

        // Viewable area
        let height = window.innerHeight;
        function updateViewableArea() {
            if (window.innerHeight < height || window.innerHeight > height * 1.2) {
                height = window.innerHeight;
            }
            // const height = window.innerHeight;
            document.documentElement.style.setProperty('--viewable-height', `${height}px`);
        }

        window.addEventListener('resize', updateViewableArea);
        updateViewableArea();

        // Hauptbild Schrift ändern
        const image = document.getElementById('js-img11');
        const dependentElement1 = document.getElementById('js-headline11');
        const dependentElement2 = document.getElementById('js-headline12');
        const dependentElement21 = document.getElementById('js-headline21');

        function positionElement() {
            const imageTop = image.offsetTop;
            const imageWidth = image.offsetWidth;
            const imageHeight = image.offsetHeight;
            
            dependentElement1.style.top = (imageTop + imageHeight / 3) + 'px';
            dependentElement1.style.fontSize = Math.min(imageHeight / 5, 130) + 'px';
            dependentElement2.style.top = (dependentElement1.offsetTop + dependentElement1.offsetHeight) + 'px';
            dependentElement2.style.fontSize = Math.min(imageHeight / 5, 130) + 'px';
            dependentElement1.style.left = 30 + 'px';
            dependentElement2.style.left = 30 + 'px';

            if (imageHeight < 270 && imageWidth > 720) {
                dependentElement1.style.left = 150 + 'px';
                dependentElement2.style.left = 150 + 'px';
            }

            if (imageWidth > 900 && imageWidth < 1050) {
                dependentElement1.style.top = (imageTop + imageHeight / 3) + 'px'; 
                dependentElement1.style.fontSize = Math.min(imageHeight / 7, 100) + 'px';
                dependentElement2.style.top = (dependentElement1.offsetTop + dependentElement1.offsetHeight) + 'px';
                dependentElement2.style.fontSize = Math.min(imageHeight / 7, 100) + 'px';
            }

            if (imageWidth > 620 && imageWidth <= 900) {
                dependentElement1.style.top = (imageTop + imageHeight / 2.3) + 'px';
                dependentElement1.style.fontSize = Math.min(imageHeight / 10, 100) + 'px';
                dependentElement2.style.top = (dependentElement1.offsetTop + dependentElement1.offsetHeight) + 'px';
                dependentElement2.style.fontSize = Math.min(imageHeight / 10, 100) + 'px';
            }

            if (imageWidth <= 620) {
                dependentElement1.style.top = (imageTop + imageHeight / 2.3) + 'px';
                dependentElement1.style.fontSize = Math.min(imageHeight / 13, 100) + 'px';
                dependentElement2.style.top = (dependentElement1.offsetTop + dependentElement1.offsetHeight) + 'px';
                dependentElement2.style.fontSize = Math.min(imageHeight / 13, 100) + 'px';
            }

            const fontSize = parseFloat(window.getComputedStyle(dependentElement1).fontSize);
            if (fontSize < 40) {
                dependentElement1.style.fontSize = 40 + 'px';
                dependentElement2.style.fontSize = 40 + 'px';
                dependentElement2.style.top = (dependentElement1.offsetTop + dependentElement1.offsetHeight) + 'px'; 
            }
            
            dependentElement21.style.top = (imageTop + imageHeight / 3) + 'px';
            dependentElement21.style.fontSize = Math.min(imageHeight / 7, 130) + 'px';
            dependentElement21.style.left = 30 + 'px';

            if (imageHeight < 270 && imageWidth > 720) {
                dependentElement21.style.left = 150 + 'px';
            }

            if (imageWidth > 900 && imageWidth < 1050) {
                dependentElement21.style.top = (imageTop + imageHeight / 3) + 'px'; 
                dependentElement21.style.fontSize = Math.min(imageHeight / 10, 80) + 'px';
            }

            if (imageWidth > 620 && imageWidth <= 900) {
                dependentElement21.style.top = (imageTop + imageHeight / 2.3) + 'px';
                dependentElement21.style.fontSize = Math.min(imageHeight / 15, 70) + 'px';
            }

            if (imageWidth <= 620) {
                dependentElement21.style.top = (imageTop + imageHeight / 2.3) + 'px';
                dependentElement21.style.fontSize = Math.min(imageHeight / 25, 40) + 'px';
            }

            const fontSize2 = parseFloat(window.getComputedStyle(dependentElement21).fontSize);
            if (fontSize2 < 40) {
                dependentElement21.style.fontSize = 40 + 'px';
            }
        }

        // Position berechnen und aktualisieren
        positionElement();
        window.addEventListener('resize', positionElement);
    </script>
</div>