<div id = "js-swipers" class="dark-theme">
    
    <section class="swipers">
        <div class="mainswiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/main-warmeMahlzeit.png" alt="main picture - warme Mahlzeit" class="img11">
                    <h3 class="headline11">{{ T "oneEuroADay" }}</h3>
                    <h3 class="headline12">{{ T "oneMeal" }}</h3>
                    <button class="button11">{{ T "getPate" }}</button>
                </div>
                <div class="swiper-slide">
                    <img src="/img/main_campus.png" alt="main picture - Campus" class="img2">
                    <h3 class="headline21">Unser Herzensprojekt - Der Campus.</h3>
                    <h3 class="headline22">Bitte Spenden Sie.</h3>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <script>
        // Dark mode    
        var jsSwipers = document.getElementById("js-swipers");
        if (localStorage.getItem("darkMode") == "true") {
            jsSwipers.className = "light-theme";
        } else {
            jsSwipers.className = "dark-theme";
        }

        // Viewable area
        function updateViewableArea() {
            const height = window.innerHeight;
            document.documentElement.style.setProperty('--viewable-height', `${height}px`);
        }

        window.addEventListener('resize', updateViewableArea);
        updateViewableArea();
    </script>
</div>