{{ $baseFolder := "static/img/Galerie" }}
{{ $folders := readDir $baseFolder }}

{{ range $folders }}
    {{ if .IsDir }}
        {{ $folderName := .Name }}
        <h2>{{ $folderName }}</h2>
        {{ $subPath := printf "%s/%s" $baseFolder $folderName }}
        {{ $files := readDir $subPath }}
        <div id="gallery" class="gallery">
            {{ range $files }}
                {{ $cleanName := replaceRE "\\.(jpg|jpeg|png|gif|mp4)$" "" .Name }}
                {{ if findRE "\\.(jpg|jpeg|png|gif)$" .Name }}
                    <div class="media-container">
                        <div class="media-title">{{ $cleanName }}</div>
                        <img src="{{ printf "/img/Galerie/%s/%s" $folderName .Name }}" title="{{ .Name }}">
                    </div>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}

<div id="lightbox" class="lightbox" onclick="this.style.display='none'">
    <img id="lightbox-img">
</div>
